* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial,sans-serif;
    /* position: relative; */
}

body a {
    color: rgba(0,0,0,0.87);
    font-size: 11.5px;
    text-decoration: none;
}

.nav-items:focus,
.nav-items:hover
 {
    text-decoration: underline;
    opacity: .85;
}

.homepage-container {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 1% 2%;
}

header .navbar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.navbar left {
    padding: 0 30px;
}

.nav-items{
    margin-left: 15px;
    vertical-align: middle;
}

.nav-items#nav-right--sign {
    background-image: -webkit-linear-gradient(top, rgb(67, 135, 253), rgb(70, 131, 234));
    border: 1px solid rgb(66, 133, 244);
    border-radius: 1.8px;
    font-weight: bold;
    padding: 3.8px 12px;
}

.nav-items#nav-right--sign p a{
    color: rgb(255, 255, 255);
}
#nav-right--app{
    background-image: url('http://ssl.gstatic.com/gb/images/i2_2ec824b0.png');
    background-size: 528px 68px;
    display: inline-block;
    height: 30px;
    width: 30px;
    background-position: -132px -38px;
    opacity: .55;
}

header #nav-right--img~.nav-items:focus,
header #nav-right--img~.nav-items:hover
{
    text-decoration: none;
    opacity: 1;
}
/* Center */
center{
    display: inline-block;
    padding-top: 109px;
}

.img-logo {
    width: 272px;
}

.input-container {
    background: #fff;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 46px;
    margin: 20px auto;
    width: 584px;
}

.input-container:hover,
.input-container:focus,
.input-container:active{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.input-container--search {
    display: flex;
    justify-content: space-between;
    width: 92%;
}

.input-container input {
    border-radius: 8px;
    border: none;
    font-size: 16px;
    outline: none;
    flex: 100%;
}

.input-container--micro {
    display: flex;
    align-items: center;
    height: 40px;
    width: 44px;
}
img.micro{
    height: 24px;
    width: 24px;
    background-size: 24px;
    vertical-align: middle;
}

.section-btn {
    height: 36px;
    line-height: 27px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    letter-spacing: normal;
    margin: 5px 4px;
    min-width: 34px;
    text-align: center;
    white-space: pre;
    width: 120px;
}

.section-btn:hover,
.section-btn:focus,
.section-btn:active {
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

/* Section Languages Offered*/

.lang {
    font-size: small;
    margin: 20px 0;
}
.lang a {
    color: #1a0dab;
    line-height: 28px;
    padding: 0 3px;
    text-decoration: none;
}

.lang a:hover {
    color: #1a0dab;
    text-decoration: underline;
}

.lang a:visited {
    color: #609;
}


/* footer Utilities and Settings */


footer {
    /* bottom: 0; */
    /* font-size: 10pt; */
    height: 137px;
    /* position: absolute; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer .fbar {
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    width: 100%;
}

footer .fbar div,
footer .fbar .nav-bottom {
    color: rgba(0,0,0,.54);
    font-size: .85em;
    margin-left: 30px;
    padding-left: 27px;
    text-align: left;
}

.fbar .nav-bottom {
    display: flex;
    justify-content: space-between;
}

.fbar ul {
    display: inline-block;
}

.fbar ul li{
    display: inline-block;
    list-style: none;
    padding-right: 27px;
}

.nav-bottom a {
    color: #5f6368;
}
.nav-bottom a:hover {
    text-decoration: underline;
}

